<dom-module id="sia-node">
	<template>
		<style include="panel-style node-setting-style">
			.online-icon{color: #FF0000;}
			.unlock-icon{cursor:pointer;}
			[online] .online-icon{color: #108F74;}
			.help-info{display:block;padding:5px 0px;font-size:10px;}
			.set-local-pass-btn,.unset-local-pass-btn,
			.block-btn{margin-top: 10px;display:block;}
			.delete-node-btn{background-color:#F38686;color:#FFF;}
			.dialog neon-animatable{overflow-y:auto;overflow-x:hidden;padding:15px 15px 0px;margin-bottom:15px;}
			paper-dialog.passphrase-dialog{height:70%; max-height:initial;}
			iron-icon { width : 25px; height: 25px; }
			.online-icon{-webkit-transform-origin: center center;transform-origin: center center;}
			.online-icon[unlocking]{-webkit-animation: rotate 2s linear infinite;animation: rotate 2s linear infinite;}
			@-webkit-keyframes rotate {100% {-webkit-transform: rotate(360deg);}}
			@keyframes rotate {100% {transform: rotate(360deg);}}
			.logs{padding:20px;line-height:1.6;overflow-x:hidden;overflow-y:auto;}
			.logs #logs{ /*white-space: normal;*/ overflow-x:auto; width:100%; height: 100%; display:block;
				font-family: "Consolas","Monaco","Lucida Console","Courier New", monospace !important;	}
		</style>
		<div class="content" online$="[[online]]" unlocked$="[[unlocked]]">
			<paper-icon-button icon="settings" class="setting-icon" on-click="openSettings"></paper-icon-button>
			<h2 class="title">
				<iron-icon class="online-icon" unlocking$="[[unlocking]]" icon="[[_onlineIcon(online, accepting, unlocking)]]" title$="[[_onlineIconTitle(online, accepting, unlocking)]]"></iron-icon>
				<iron-icon class="unlock-icon" icon="[[_unlockIcon(unlocked)]]" title$="[[_unlockIconTitle(unlocked)]]" on-click="lockUnlock"></iron-icon>
				<span>[[ident]]</span>
			</h2>
			<div class="layout vertical flex">
				<template is="dom-repeat" items="[[graphFields]]">
					<sia-variable-graph class="flex" node="[[uuid]]" variable="[[item.key]]" title="[[item.title]]" tilt-x-angle="-20" y-ticks-count="3" no-refresh refresh-token="[[graphRefreshToken]]" time-interval="1000"></sia-variable-graph>
				</template>
			</div>

			<div class="setting-fields" on-sia-field-value-changed="onSiaFieldValueChanged">
				<template is="dom-repeat" items="[[fields]]">
        			<sia-field title="[[item.title]]"
	        			value="[[_settingFieldValue(item.value, item, data)]]"
	        			format="[[_settingFieldFormat(item)]]"
	        			type="[[_settingFieldType(item, item.key)]]"
	        			editable="[[_settingFieldEditable(item)]]"
	        			suffix="[[_settingFieldSuffix(item)]]"
	        		></sia-field>
        		</template>
			</div>	
		</div>
		<paper-dialog id="settingDialog" class="dialog setting-dialog node-setting-dialog layout vertical">
			<paper-toolbar>
				<div class="title"><%=_T("Settings:")%> [[ident]]</div>
				<paper-tabs selected="{{tab}}" attr-for-selected="tab">
					<paper-tab tab="config"><%- _T("Configuration &amp; Metrics") %></paper-tab>
					<paper-tab tab="wallet"><%=_T("Wallet")%></paper-tab>
					<paper-tab tab="advanced"><%=_T("Advanced")%></paper-tab>
				</paper-tabs>
				<paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
			</paper-toolbar>
			<neon-animated-pages class="flex" selected="{{tab}}" attr-for-selected="page" entry-animation="fade-in-animation" exit-animation="fade-out-animation" on-tap="hideVariableGraph">
				<neon-animatable class="fit" page="config" on-sia-field-value-changed="onSiaFieldValueChanged" on-tap="onSettingItemsClick">
					<div class="node-field heading">
						<div><%-_T("Show<br />Variable")%></div>
						<div><%-_T("Show<br />Graph")%></div>
						<div><%-_T("Override<br />Global")%></div>
						<div class="tiny"></div>
						<div class="tiny"></div>
						<div class="flex variable"><%-_T("Variable")%></div>
					</div>
					<template is="dom-repeat" items="[[settingFieldGroups]]">
						<div>
							<div class="node-field-group-heading" on-tap="toggleNodeSetting">[[item.title]]<iron-icon icon="expand-less"></iron-icon></div>
							<div class="node-field-group-contents">
								<template is="dom-repeat" items="[[item.items]]">
									<div class="node-field" item="{{item}}">
										<div>
											<paper-checkbox override checked="{{item.showVar}}"><%-_T("Show Variable")%></paper-checkbox>
										</div>
										<div>
											<paper-checkbox override checked="{{item.showGraph}}" hide$="[[!item.graphCompatible]]"><%-_T("Show Graph")%></paper-checkbox>
										</div>
										<div>
											<paper-checkbox hide$="[[!item.overridable]]" checked="{{item.override}}"><%-_T("Override")%></paper-checkbox>
										</div>
										<div class="tiny">
											<iron-icon icon="timeline" hidden$="[[!item.graphCompatible]]" key="[[item.key]]" on-mouseover="showVariableGraph" on-mouseout="hideVariableGraph"></iron-icon>
										</div>
										<div class="tiny">
											<iron-icon class="help-icon" icon="help" hidden$="[[!item.help]]" key="[[item.key]]" on-mouseover="showVariableInfo" on-mouseout="hideVariableInfo"></iron-icon>
										</div>
										<div class="flex variable">
											<sia-field
												title="[[item.title]]"
												value="[[_settingFieldValue(item.value, item, data)]]"
												format="[[_settingFieldFormat(item)]]"
	        									type="[[_settingFieldType(item, item.key)]]"
												editable="[[_settingFieldEditable(item)]]"
												suffix="[[_settingFieldSuffix(item)]]"
											></sia-field>
										</div>
									</div>
								</template>
							</div>
						</div>
					</template>
				</neon-animatable>
				<neon-animatable class="fit" page="wallet">
					<paper-button raised class="set-local-pass-btn" on-click="setupLocalPass">
						<%= _T("SETUP CUSTOM PASSPHRASE") %>
						<div class="help-info">
							<%=_T("You can use custom passphrase to encrypt wallet key.")%>
						</div>
					</paper-button>
				</neon-animatable>
				<neon-animatable class="fit" page="advanced">
					<paper-button raised class="block-btn open-logs-btn" disabled$="[[!online]]" on-click="openLogs" log-type="host"><%= _T("Host Logs") %></paper-button>
					<paper-button raised class="block-btn open-logs-btn" disabled$="[[!online]]" on-click="openLogs" log-type="consensus"><%= _T("Consensus Logs") %></paper-button>
					<paper-button raised class="block-btn open-logs-btn" disabled$="[[!online]]" on-click="openLogs" log-type="gateway"><%= _T("Gateway Logs") %></paper-button>
					<paper-button raised class="block-btn open-logs-btn" disabled$="[[!online]]" on-click="openLogs" log-type="miner"><%= _T("Miner Logs") %></paper-button>
					<paper-button raised class="block-btn open-logs-btn" disabled$="[[!online]]" on-click="openLogs" log-type="renter"><%= _T("Renter Logs") %></paper-button>
					<paper-button raised class="block-btn open-logs-btn" disabled$="[[!online]]" on-click="openLogs" log-type="wallet"><%= _T("Wallet Logs") %></paper-button>
					<hr/>
					<paper-button raised class="block-btn delete-node-btn" on-click="deleteNode"><%= _T("Delete node") %></paper-button>
				</neon-animatable>
			</neon-animated-pages>
		</paper-dialog>
		<paper-dialog id="passphraseDialog" class="dialog passphrase-dialog layout vertical">
			<paper-toolbar>
				<div class="title"><%=_T("SETUP CUSTOM PASSPHRASE:")%> [[ident]]</div>
				<paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
			</paper-toolbar>
			<paper-dialog-scrollable class="flex">
				<paper-input autofocus id="passphraseField" value="{{passphraseData.passphrase}}" name="[[_passwordFieldName()]]" type="[[passwordFieldType]]" required label="<%=_T("Custom Passphrase")%>" on-keyup="onPDialogKeyUp"></paper-input>
				<paper-input id="passphraseField2" value="{{passphraseData.passphrase2}}" name="[[_passwordFieldName()]]" type="[[passwordFieldType]]" required label="<%=_T("Confirm Passphrase")%>" error-message="<%=_T("Dose not match with Custom Passphrase")%>" on-keyup="onPDialogKeyUp"></paper-input>
				<paper-input id="walletkeyField" value="{{passphraseData.walletkey}}" name="[[_passwordFieldName()]]" type="[[passwordFieldType]]" required label="<%=_T("Wallet Key")%>" on-keyup="onPDialogKeyUp"></paper-input>
			</paper-dialog-scrollable>
			<div class="buttons">
				<div class="flex"></div>
				<paper-button raised primary icon on-click="_setupLocalPass">
					<iron-icon icon="done"></iron-icon>
					<span class="title"><%=_T("Setup")%></span>
				</paper-button>
			</div>
		</paper-dialog>
		<paper-dialog id="uplockDialog" class="dialog unlock-dialog layout vertical">
			<paper-toolbar>
				<div class="title"><%=_T("Unlock Wallet")%></div>
				<paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
			</paper-toolbar>
			<paper-dialog-scrollable class="flex">
				<paper-checkbox checked="{{unlockData.useLocal}}"><%=_T("Use Custom Passphrase")%></paper-checkbox>
				<paper-input autofocus
					id="unlockPassphraseField" value="{{unlockData.passphrase}}" name="[[_passwordFieldName()]]" required type="[[passwordFieldType]]" on-keyup="onUDialogKeyUp"
					label="[[_ifelse(unlockData.useLocal, '<%=_T("Custom Passphrase")%>', '<%=_T("Wallet Key")%>')]]"
				></paper-input>
			</paper-dialog-scrollable>
			<div class="buttons">
				<div class="flex"></div>
				<paper-button raised primary icon on-tap="unlockWallet">
					<iron-icon icon="lock-open"></iron-icon>
					<span class="title"><%=_T("Unlock")%></span>
				</paper-button>
			</div>
		</paper-dialog>
		<paper-dialog id="logsDialog" class="dialog logs-dialog layout vertical" opened="{{logsDialogOpened}}">
			<paper-toolbar>
				<div class="title"><%=_T("Logs")%></div>
				<paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
			</paper-toolbar>
			<div class="flex logs"><div id="logs" style=""></div></div>
		</paper-dialog>
	</template>
	<script>
		Polymer({
			is: "sia-node",
			behaviors:[PanelBehavior, SettingDialogBehavior],
			properties:{
				chart:{
					type: Object,
					value:{
						memory: {},
						load: {}
					}
				},
				graphRefreshToken: {
					type: String,
					value: ""
				},
				chartInterval: {
					type: String,
					value: "day"
				},
				ident: {
					type: String,
					value: ""
				},
				chartData: Array,
				online:{
					type: Boolean,
					value: false
				},
				unlocked:{
					type: Boolean,
					value: false
				},
				accepting:{
					type: Boolean,
					value: false
				},
				unlocking:{
					type: Boolean,
					value: false
				},
				passphraseData:{
					type: Object,
					value: {}
				},
				unlockData:{
					type: Object,
					value: {
						useLocal: false
					}
				},
				tab:{
					type: String,
					value: "config"
				},
				passwordFieldType:{type: String, value:"text"},
				fields: Array,
				graphFields: Array,
				logsDialogOpened: Boolean
			},
			observers: [
				'onDataChanged(data.*)',
				'onFieldSettingChanged(settingFields.*)',
				'onLogsDialogToggle(logsDialogOpened)'
			],
			getNodeSettingDialog: function(){
				return this.$.settingDialog;
			},
			setupLocalPass:function(){
				this.$.settingDialog.close();
				this.set("passphraseData", {});
				this.$.passphraseDialog.open();
			},
			deleteNode: function(){
				var self = this;
				IRIS.Confirm({
					title: "Delete Node?",
					text:"Are you sure to delete this node?",
					okBtnCls:"danger",
					okBtn:"Delete"
				}, function(btn){
					if (btn != 'ok')
						return

					self.$.settingDialog.close();
					App.showLoading();
					App.rpc.dispatch({op:"delete-node", uuid: self.uuid}, function(err, r){
						App.hideLoading();
						if (err)
							return App.error(err);

						self.remove();
					});
				})
			},
			onPDialogKeyUp: function(e){
				if(e.which == 13)
					this._setupLocalPass();
			},
			_setupLocalPass: function(){
				var self = this;
				var d = self.passphraseData;
				if (!d.passphrase || !d.walletkey){
					self.$.passphraseField.validate();
					self.$.passphraseField2.validate();
					self.$.walletkeyField.validate();
					return;
				}
				if (d.passphrase2 != d.passphrase){
					self.$.passphraseField2.invalid = true;
					return
				}
				self.$.settingDialog.close();
				self.$.passphraseDialog.close();

				App.showLoading();
				App.rpc.dispatch({
					op: "init-wallet-passphrase",
					node: self.uuid,
					walletkey: d.walletkey,
					passphrase: self.encryptPass(d.passphrase)
				}, function(err, result){
					App.hideLoading();
					if (err)
						return App.error(err);

					self.set("passphraseData", {});
					IRIS.Alert({title:'<%= _T("Success") %>', text: '<%= _T("Custom passphrase saved successfully.") %>'})
					console.log("result", result)
				});
			},
			_onlineIcon: function(online, accepting, inprocess){
				if (inprocess)
					return "refresh";
				if(!online)
					return "cloud-off";
				if(!accepting)
					return "visibility-off";
				return "sia:database";
			},
			_onlineIconTitle: function(online, accepting, inprocess){
				if (inprocess)
					return '<%=_T("Unlocking...")%>';
				if(!online)
					return "Offline";
				if(!accepting)
					return "Not Accepting Contracts";
				return "Online and Accepting Contracts";
			},
			_unlockIcon: function(unlocked){
				return unlocked ? "sia:unlock" : "sia:lock";
			},
			_unlockIconTitle: function(unlocked){
				return unlocked ? "Unlocked": "Locked";
			},
			toggleChartInterval: function(){
				if(this.chartInterval == "day"){
					this.chartInterval = "month"
				}else if(this.chartInterval == "month"){
					this.chartInterval = "year"
				}else{
					this.chartInterval = "day"
				}
			},
			onDataChanged: function(){
				var self 	= this;
				if (this.data && this.data.wallet && !_.isUndefined(this.data.wallet.unlocked))
					this.set("unlocked", this.data.wallet.unlocked);
				if (this.data && this.data.host && this.data.host.externalsettings && !_.isUndefined(this.data.host.externalsettings.acceptingcontracts))
					this.set("accepting", this.data.host.externalsettings.acceptingcontracts);
				
				if (self.data)
					self.debounce("updateFieldsValue", self.updateFieldsValue, 100);
			},
			updateFieldsValue: function(){
				var self = this;
				var keyValueMap = self.flatObject(self.data, true);
				_.each(keyValueMap, function(value, key){
					self._updateFieldValue(key, value);
					self._updateSettingFieldValue(key, value);
				})
			},
			_updateSettingFieldValue: function(key, value){
				var index = this.getSettingFieldIndex(key);
				if (index > -1)
					this.set("settingFields."+index+".value", value);

				index = this.getSettingFieldGroupItemIndex(key);
				if (index != -1)
					this.set("settingFieldGroups."+index+".value", value);
			},
			_updateFieldValue: function(key, value){
				var index = this._keyIndexMap[key];
				if (index < 0)
					return;
				var f = this.get("fields."+index);
				if (f && f.key == key) {
					this.set("fields."+index+".value", value);
				};
			},
			_passwordFieldName: function(){
				return "name-"+Date.now();
			},
			ready: function(){
				var self = this;
				self.async(function(){
					self.set("passwordFieldType", "password");
				}, 1000);
				App.rpc.on("node-state", function(args){
					if (args.uuid != self.uuid)
						return;

					self.set("graphRefreshToken", Date.now());
					self.mergeData(args.data);
				});

				App.rpc.on("host-state", function(args){
					if (args.uuid != self.uuid)
						return;
					self.mergeData(args.data);
				});

				App.rpc.on("node-disconnected", function(args){
					if (args.uuid != self.uuid)
						return;
					self.set("online", false);
				});

				App.rpc.on("node-connected", function(args){
					if (args.uuid != self.uuid)
						return;
					self.set("online", true);
				});
			},
			mergeData: function(data){
				var self = this;
				var data = _.extend({}, self.data || {}, data);
				_.each(data, function(v, k){
					self.set("data."+k, v);
				});
			},
			onFieldSettingChanged: function(){
				this.setupFields();
			},
			_keyIndexMap:{},
			setupFields: function(){
				var self 	= this;
				var fields 	= _.extend({}, self.settingFields || {});
				var panelField = [];
				var graphFields = [];
				var keyValueMap = self.flatObject(self.data, true), v, title;
				var fieldInfo = NodeVariableSettings.info;
				_.each(fields, function(f){
					v = _.isUndefined(keyValueMap[f.key])? "" : keyValueMap[f.key];
					f.value = v;
					title = fieldInfo[f.key] && fieldInfo[f.key].title;
					if (!title)
						title = NodeVariableSettings.getCaption(f.key)

					if (f.showGraph)
						graphFields.push({
							key: f.key,
							title: title
						})
					if (!f.showVar)
						return
					self._keyIndexMap[f.key] = panelField.length;
					panelField.push({
						key: f.key,
						title: title,
						value: v,
						editable: f.editable? f.key : false,
						type: f.type || "",
						suffix: f.suffix || ""
					});
				});

				self.set("fields", panelField);
				self.set("graphFields", graphFields);
			},
			openSettings: function(){
				this.$.settingDialog.open();
			},
			openLogs: function(){
				console.log("LOGS DIALOG",arguments);
				this.$.settingDialog.close();
				this.$.logsDialog.open();
			},
			onLogsDialogToggle: function(){
				var self = this;
				if (!self.logsDialogOpened){
					self.$.logs.innerHTML = "";
					return
				}
				App.showLoading();
				App.rpc.dispatch({op: "fetch-logfile", node: self.uuid, type: 'xxxx'}, function(err, logs){
					App.hideLoading();
					console.log("err", err)
					if (err){
						self.$.logsDialog.close();
						return App.error(err);
					}

					self.$.logs.innerHTML =
						self.htmlEntities(logs).replace(/^(\S+ \S+)/img,"<b>$1</b>").replace(/$/gm,'<br/>');

				});
			},
			htmlEntities: function (str) {
				return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
			},
			lockUnlock: function(){
				var self = this;
				if (!self.online) {
					IRIS.Alert({title: '<%=_T("Error")%>', text: '<%=_T("Node must be online")%>' })
					return;
				}
				if (self.unlocked){
					self.lockWallet();
				}else{
					self.set("unlockData", {useLocal: true});
					self.$.uplockDialog.open();
				}
			},
			lockWallet: function(){
				var self = this;
				App.showLoading();
				App.rpc.dispatch({op: "lock-wallet", node: self.uuid}, function(err, result){
					App.hideLoading();
					if (err)
						return App.error(err);

					self.set("unlocked", result.unlocked);
					self.set("data.wallet.unlocked", result.unlocked);
				});
			},
			onUDialogKeyUp: function(e){
				if(e.which == 13)
					this.unlockWallet();
			},
			encryptPass: function(pass){
				return scrypt.createHash(pass, { 
					keyLength : 512, n : 8192, r : 4, p : 2,
					salt : 'bb23dc71eaf488000ef3af4503d3190b9f4d26dd77c2294ba53f38923d8d1eaa'
				})
			},
			unlockWallet: function(){
				var self = this;
				var d = self.unlockData;
				if (!d.passphrase){
					return self.$.unlockPassphraseField.validate();
				}

				var passphrase = d.passphrase;
				self.set("unlockData.passphrase", "");
				d.passphrase = "";

				var type =  "direct";
				if (d.useLocal) {
					type = "local";
					passphrase = self.encryptPass(passphrase);
				}
				self.$.uplockDialog.close();
				self.set("unlocking", true);
				App.rpc.dispatch({
					op: "unlock-wallet",
					passphrase: passphrase,
					type: type,
					node: self.uuid
				}, function(err, result){
					self.set("unlocking", false);
					if (err){
						var error = err.error+'';
						if(error.match(/0606506D/g))
							error = '<%- _T("Incorrect Custom Passphrase (Unable to decrypt wallet key)") %>'+': '+error;

						IRIS.Confirm({
							text: error,
							title:'<%=_T("Unable to Unlock : ")%>' + self.ident,
							okBtn:'<%=_T("Ok")%>',
							okBtnCls: 'primary',
							closeBtn:'<%=_T("Cancel")%>'
						}, function(btn){
							btn=="ok" && self.lockUnlock();
						});
						return;
					}

					self.set("unlockData", {useLocal: false});
					self.set("unlocked", result.unlocked);
					self.set("data.wallet.unlocked", result.unlocked);
				});
			},
			onSiaFieldValueChanged: function(e){
				var d = e.detail;
				//console.log("onSiaFieldValueChanged", d);
				this._updateFieldValue(d.editable.replace(this.uuid+"/", ""), d.value);
			}
		})
	</script>
</dom-module>