<!DOCTYPE html>
<html>
	<head>
		<title><%=_T("Accredited Access")%> || <%=_T("CMS")%></title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<script src="/IRIS/scripts/jquery-2.1.3.min.js"></script>
		<script src="/IRIS/scripts/underscore-min.js"></script>
		<script src="/IRIS/scripts/math.uuid.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script> delete Element.prototype.animate; </script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<script src="/deps/webcomponentsjs/webcomponents.js"></script>
		<link rel="import" href="/deps/polymer/polymer.html" />
		<link rel="import" href="/manage.html" />
		<!--link rel="import" href="/css/themes/citric-flames.html" /-->
		<link rel="import" href="/IRIS/icons/ios/sciences.html" />
		<link rel="import" href="/IRIS/icons/ios/very-basic.html" />
		<link rel="import" href="/IRIS/icons/ios/transport.html" />

	</head>
	<body>
		<cmsmanager-tabs class="fit layout vertical"></cmsmanager-tabs>
	</body>
</html>
